# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment
.env
.env.*

# Build artifacts
dist/
build/
out/
coverage/

# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
